# Sentiment Analysis proj
node_modules/
**/sa-frontend/build/
venv/
target/
.mvn/
!**/maven-wrapper.jar
.venv

**secret**

# IDE ignored files
.idea/
*.iml
.vscode
Project/sonar/sonar-scanner-4.6.2.2472-linux/